body {
  background: #1e1e1e;
  color: white;
  font-family: "Segoe UI", monospace;
  padding: 16px;
  margin: 0;
}

.tree-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  overflow-x: auto;
  padding: 20px;
  position: relative;
}

.node-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.node-box {
  background: #282c34;
  color: #fff;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 8px 12px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.node-box:hover {
  background-color: #3a3f4b;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 120px;
}

.connector-svg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 1;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.connector-path {
  stroke: #888;
  fill: none;
  stroke-width: 1px;
}

#popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 400px;
  max-height: 400px;
  overflow: auto;
  padding: 16px;
  background: #1e1e1e;
  color: #f3f3f3;
  border: 1px solid #555;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}

#popup h3 {
  margin: 0 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #61dafb;
}

#popup .copy-btn {
  padding: 2px 6px;
  font-size: 12px;
  border: 1px solid #888;
  background: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

pre {
  margin: 0;
  font-family: monospace;
  font-size: 13px;
  white-space: pre-wrap;
  color: #d4d4d4;
}

pre span.key {
  color: #9cdcfe;
}

pre span.value-string {
  color: #ce9178;
}

pre span.value-number {
  color: #b5cea8;
}

pre span.value-boolean {
  color: #569cd6;
}

pre span.value-null {
  color: #dcdcaa;
}

.copy-btn, .close-btn {
  background: #444;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}

.copy-btn:hover {
  background: #666;
}

#popup h3 div {
  display: flex;
  gap: 6px;
}

#popup .close-btn {
  font-size: 14px;
  background: #222;
  border: 1px solid #555;
  color: #f3f3f3;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #1e1e1e;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid #1e1e1e;
}

*::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
